<%= link_to 'Back', insurance_policies_path, class: 'back-link' %>

<section class="card">
	<header>
		<h1>Editing Insurance Policy</h1>
		<%= link_to 'Show', @insurance_policy, class: 'button-primary-outline' %> 
	</header>
	<div class="card-inner">
		<%= render 'form', insurance_policy: @insurance_policy %>
	</div>
</section>