<%= link_to 'Back', insurance_policies_path, class: 'back-link' %>

<section class="card">
  <header>
	<h1>New Insurance Policy</h1>
  </header>
  <div class="card-inner">  
	<%= render 'form', insurance_policy: @insurance_policy %>
  </div>
</section>



