<%= link_to 'Back', claims_path, class: 'back-link' %>
<section class="card">
	<header>
		<h1>Editing Claim</h1>
		<%= link_to 'Show', @claim, class: 'button-primary-outline' %>
	</header>
	<div class="card-inner">
		<%= render 'form', claim: @claim %>
	</div>
</section>
