<%= link_to 'Back', claims_path, class: 'back-link'  %>

<section class="card">
	<header>
		<h1>New Claim</h1>
	</header>
	<div class="card-inner">
		<%= render 'form', claim: @claim %>
	</div>
</section>