<section>
	<h1>Dashboard</h1>
	<ul class="grid-card">
		<li class="card">
			<div class="card-inner">
				<span>3</span>
				<p>Number of Insurance Policies</p>
			</div>
		</li>
		<li class="card">
			<div class="card-inner">
				<span>2</span>
				<p>Number of Claims</p>
			</div>
		</li>
	</ul>
</section>