/*-----------------------
Flash
-----------------------*/
.notice{
  background-color: $green-light;
  position: fixed;
  top: 10px;
  color: $green-dark;
  display: inline-block;
  font-weight: bold;
  @include rem(margin-bottom, 20px);
  @include rem(padding, 20px);
  text-align: center;
  width: 90%;
  opacity: 0;
  animation: fade-in-and-out 6s linear;
  z-index: 1;
  border-radius: 6px;
  display: none;

  @media #{$tablet-landscape} {
    margin-left: 250px;
    width: 400px;
    transform: translateX(calc(-50% - 175px));
    left: calc(50% + 175px);
  }
}

#notice{
  display: none;
}


@keyframes fade-in-and-out{
  0%,100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}