/*-----------------------
Fieldset
-----------------------*/
fieldset{
  display: inline-block;
  @include rem(margin-bottom, 18px);
  position: relative;
  width: 100%;

  span span{
    float: right;

    [class*=link-]{
      @include s-small;
      margin-top: 0px;
      vertical-align: middle;
    }
  }
}

/*-----------------------
Labels
-----------------------*/
label, legend{
  color: $black-base;
  display: inline-block;
  @include font-type($primary-sans-serif, normal, 900);
  @include s-base;
  @include rem(margin-bottom, 6px);
  text-align: left;

  i{
    font-style: italic;
    font-weight: $regular;
  }
}

/*-----------------------
Inputs
-----------------------*/
input,
select,
textarea{
  background-color: $white-base;
  border: 1px solid #d8dbe1;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  transition: all 0.3s ease-in-out;
  @include font-type($primary-sans-serif, normal, 400);
  @include s-base;
  @include rem(padding, 9px 13px);
  width: 100%;
  -webkit-font-smoothing: antialiased;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);

  &:focus{
    border-color: $primary-base;
    outline: none;
  }
}

/*-----------------------
Hidden Input
-----------------------*/
.hidden-field{
  height: 0px;
  width: 0px;
}

// Cypress does not provide a way (or I couldn't find it)
// to set the value of a hidden input. This is to `hide`
// the input with type="text"
.really.hidden-field{
  input{
    padding: 0px;
    border: none;
  }
}


/*-----------------------
Textarea
-----------------------*/
textarea,
textarea[type="text"]{
  height: 100px;
  resize: vertical;
}

.with-character-count{
  label{
    @include rem(padding-right, 108px);
  }

  .character-count{
    color: $grey-base;
    float: right;
    // @include position(absolute, 0px 0px null null);
    @include s-small;
  }
}


/*-----------------------
Select
-----------------------*/
select{
  background-image: asset-url('dropdown.svg');
  background-position: right 13px top 50%;
  background-repeat: no-repeat;
  background-size: 7px;
  cursor: pointer;
  @include rem(padding, 9px 32px 9px 13px);
  text-overflow: ellipsis;
  width: 100%;

  option:disabled{
    color: $grey-light;
    font-style: italic;
  }
}


/*-----------------------
Checkbox
-----------------------*/
.checkbox{
  width: 100%;

  label{
    cursor: pointer;
    float: right;
    @include rem(margin-top, 0px);
    line-height: normal;
    width: calc(100% - 32px);
  }

  .error-message{
    display: inline-block;
    width: 100%;
  }
}

input[type="checkbox"]{
  appearance: none;
  transition: all 0.3s ease-in-out;
  background-color: $white-base;
  border: 1px solid $white-dark;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  @include rem(height, 20px);
  @include rem(width, 20px);
  outline: none;
  display: inline-block;
  @include rem(margin, 0px 8px 0px 0px);
  vertical-align: middle;

  &:focus{
    border-color: $primary-base;
    outline: none;
  }

  &:checked{
    background-color: lighten($primary-base, 50%);

    &:after{
      background-image: url('general/checkmark.svg');
      background-size: 17px;
      color: $primary-base;
      content: '';
      display: block;
      font-size: 17px;
      font-weight: $bold;
      height: 17px;
      transition: all 0.3s ease-in-out;
      margin-left: 1px;
      position: absolute;
      top: 2px;
      left: 1px;
      text-align: center;
      width: 17px;
      -webkit-position: absolute;
      -webkit-z-index: 3;
    }
  }
}


/*-----------------------
Error
-----------------------*/
.error, .field_with_errors{
  @include rem(margin-bottom, 5px);

  input, textarea, select{
    border: 1px solid $red-base;

    &:focus{
      border-color: $blue-base;
      outline: none;
    }
  }
}

.error-message{
  color: $red-base;
  display: block;
  @include s-small;
  transition: all 0.3s ease-in-out;
  &:first-letter{
    text-transform: capitalize;
  }
}

.date-field{
  display: flex;

  select:not(:first-child){
    margin-left: 15px;
  }
}

input[type="submit"]{
  width: auto;
}