// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;


@import "active_admin/mixins";

$primary-color: #1E60BD;
// Use Arctic theme instead of the base ActiveAdmin file
@import "arctic_admin/base";

.header .site_title #site_title_image {
  height: 50px;
  margin-top: 5px;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
